/* Dallas Cowboys Fan Page CSS */
body {
  background-color: #869397;
  text-align: center;


}


h1, h2 {

color: #003594;
margin: 10px;

}

.carousel-item {
  height: 500px;

}

.container-fluid {

  padding: 5% 15%;

}


.cowboys-carousel-image {

  height: 100%;
  width: 100%;


}


.cowboys-table {

  background-color: white;
}



.footerDallas {
  background-color: white;
  color: #003594;
  padding: 10px;

}
.navbar-div {

  background-color: #869397;

}



.subscibe-Page-Dallas {

  color: #003594;
  padding: 60px
}


table {
  border-collapse: collapse;
  font-family: arial, sans-serif;
  width: 50%;



}

td, th {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;

}

tr:nth-child(even) {
  background-color: #dddddd;
}



.topPageDallas {

  background-color: white;
}
